<div class="project__container">
    <div class="box">
        <div class="box-content">
            <h2>Nome do projeto</h2>
            <p>Descrição: Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <ul>
                <li>Começo: 03/02/2000</li>
                <li>Última alteração: 01/09/2023</li>
                <li>Prazo final: 03/01/2025</li>
            </ul>

            <ul>
            
                <li>
                    <label for="status">Status: </label>
                    <select id="status" name="status">
                        <option value="pendent">Pendente</option>
                        <option value="in-progress">Em andamento</option>
                        <option value="on-hold">Pausado</option>
                        <option value="cancelled">Cancelado</option>
                        <option value="completed">Completo</option>
                    </select>
                </li>
            
            </ul>

            <ul>
            
                <li>
                    <label for="prioridade">Prioridade: </label>
                    <select id="prioridade" name="prioridade">
                        <option value="very-low">Muito baixa</option>
                        <option value="low">Baixa</option>
                        <option value="medium">Média</option>
                        <option value="high">Alta</option>
                        <option value="very-high">Muito Alta</option>
                    </select>
                </li>
            
            </ul>
            <ul>
                <li><app-modal-dialog></app-modal-dialog></li>
            </ul>

        </div>
    </div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
</div>
