/* You can add global styles to this file, and also import other style files */

*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

ul, li{
    list-style: none;
    text-decoration: none;
}

body{
    color: #fff;
    font-size: 18px;
}

button, select{
    cursor: pointer;
    font-size: 18px;
}


